.view-more-btn {
  font-family: "AG";
}

.content{
  font-family: "LightEx"
}

.heading-introduction{
  font-family: "LightEx";
}

.introduction-description{
  font-family: "AG";
}

.certified{
  font-family: "LightEx";
}

@media (min-width: 320px) {
  .content {
    font-size: 10px;
    top: 40%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 5px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    width: 20px;
    height: auto;
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 80px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .email-btn {
    width: 30px;
    height: auto;
    bottom: 5%;
    right: 0%;
  }

  .introduction_img {
    width: 150px;
    height: auto;
    top: 10px;
    left: 2%;
  }

  .heading-introduction 
  {
    font-size: 10px;
    top: 10px;
    left: 48%;
  }

  .introduction-description {
    font-size: 6px;
    top: 40px;
    left: 48%;
  }

  .certified {
    font-size: 6px;
    top: 120px;
    left: 48%;
  }

  .certified-photo{
    width: 140px;
    top: 140px;
    left: 48%;
  }
}
@media (min-width: 768px) {
  .content {
    font-size: 25px;
    line-height: 30px;
    top: 50%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 11px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    width: 50px;
    height: auto;
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 150px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .email-btn {
    width: 80px;
    height: auto;
    bottom: 5%;
    right: 0%;
  }

  .introduction_img {
    width: 270px;
    height: auto;
    top: 10px;
    left: 30px;
  }

  .heading-introduction 
  {
    font-size: 19px;
    top: 10px;
    left: 330px;
  }

  .introduction-description {
    font-size: 13px;
    top: 70px;
    left: 330px;
  }

  .certified {
    font-size: 11px;
    top: 244px;
    left: 330px;
  }

  .certified-photo{
    width: 250px;
    top: 260px;
    left: 330px;
  }
}

@media (min-width: 1024px) {
  .content {
    font-size: 25px;
    line-height: 30px;
    top: 50%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 11px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    width: 50px;
    height: auto;
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 150px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .email-btn {
    width: 80px;
    height: auto;
    bottom: 5%;
    right: 0%;
  }

  .introduction_img {
    width: 350px;
    height: auto;
    top: 50px;
    left: 80px;
  }

  .heading-introduction 
  {
    font-size: 20px;
    top: 50px;
    left: 500px;
  }

  .introduction-description {
    font-size: 15px;
    top: 120px;
    left: 500px;
  }

  .certified {
    font-size: 15px;
    top: 330px;
    left: 500px;
  }

  .certified-photo{
    width: 300px;
    top: 370px;
    left: 500px;
  }
}

@media (min-width: 1440px) {
  .content {
    font-size: 40px;
    line-height: 50px;
    top: 50%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 13px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 297px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .email-btn {
    bottom: 5%;
    right: 0%;
  }

  .introduction_img {
    width: 704px;
    height: auto;
    top: 200px;
    left: 150px;
  }

  .heading-introduction 
  {
    font-size: 49px;
    top: 200px;
    left: 1000px;
  }

  .introduction-description {
    font-size: 25px;
    line-height: 40px;
    top: 400px;
    left: 1000px;
  }

  .certified {
    font-size: 24px;
    top: 800px;
    left: 1000px;
  }

  .certified-photo{
    width: 500px;
    top: 850px;
    left: 1000px;
  }
}
