.view-more-btn {
  font-family: "AG";
}

.content{
  font-family: "LightEx"
}

.heading-introduction{
  font-family: "LightEx";
}

.introduction-description{
  font-family: "AG";
}

.certified{
  font-family: "LightEx";
}

.amount{
  font-family: "LightEx";
}

.title .content{
  font-family: "AG";
}

@media (min-width: 320px) {
  .content {
    font-size: 10px;
    top: 40%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 5px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    width: 20px;
    height: auto;
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 80px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .email-btn {
    width: 30px;
    height: auto;
    bottom: 5%;
    right: 0%;
  }

  .heading-introduction 
  {
    font-size: 15px;
  }

  .introduction-description {
    font-size: 9px;
  }

  .certified {
    font-size: 8px;
    font-weight: bold;
  }

  .amount{
    font-size: 13px;
  }

  .title {
    font-size: 12px;
  }
  
  .content1{
    font-size: 9px;
  }
}

@media (min-width: 768px) {
  .content {
    font-size: 25px;
    line-height: 30px;
    top: 50%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 11px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    width: 50px;
    height: auto;
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 150px;
  }

  .email-btn {
    width: 80px;
    height: auto;
    bottom: 5%;
    right: 0%;
  }

  .heading-introduction 
  {
    font-size: 28px;
  }

  .introduction-description {
    font-size: 17px;
  }

  .certified {
    font-size: 15px;
    font-weight: bold;
  }

  .amount{
    font-size: 15px;
  }

  .title {
    font-size: 12px;
  }
  
  .content1{
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
  .content {
    font-size: 25px;
    line-height: 30px;
    top: 50%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 11px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    width: 50px;
    height: auto;
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 150px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .email-btn {
    width: 80px;
    height: auto;
    bottom: 5%;
    right: 0%;
  }

  .heading-introduction 
  {
    font-size: 20px;
  }

  .introduction-description {
    font-size: 15px;
  }

  .certified {
    font-size: 15px;
    font-weight: bold;
  }

  .amount{
    font-size: 15px;
  }

  .title {
    font-size: 12px;
  }
  
  .content1{
    font-size: 10px;
  }
}

@media (min-width: 1440px) {
  .content {
    font-size: 30px;
    line-height: 50px;
  }

  .view-more-btn {
    font-size: 13px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 297px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .email-btn {
    bottom: 5%;
    right: 0%;
  }

  .heading-introduction 
  {
    font-size: 35px;
  }

  .introduction-description {
    font-size: 23px;
    line-height: 40px;
  }

  .certified {
    font-size: 24px;
    font-weight: bold;
  }

  .amount{
    font-size: 25px;
  }

  .title {
    font-size: 20px;
  }
  
  .content1{
    font-size: 20px;
  }
}
