.view-more-btn {
  font-family: "AG";
}

.content {
  font-family: "LightEx";
}

.heading-introduction {
  font-family: "LightEx";
}

.introduction-description {
  font-family: "AG";
}

.certified {
  font-family: "LightEx";
}

.header-list {
  font-family: "LightEx";
}

.header-value .text-list {
  font-family: "AG";
}

.middle-banner-header {
  font-family: "LightEx";
}

.middle-banner-desc {
  font-family: "AG";
}

.email-btn {
  background-color: rgba(162, 162, 162, 0.5);
  bottom: 5%;
  right: 0%;
}

@media (min-width: 320px) {
  .content {
    font-size: 10px;
    top: 40%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 5px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    width: 20px;
    height: auto;
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 80px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .introduction_img {
    width: 135px;
    height: auto;
    top: 10%;
    left: 4%;
  }

  .heading-introduction {
    font-size: 9px;
    top: 10%;
    left: 50%;
  }

  .introduction-description {
    font-size: 5.5px;
    top: 28%;
    left: 50%;
  }

  .certified {
    font-size: 6px;
    font-weight: bold;
    top: 66%;
    left: 50%;
  }

  .certified-photo {
    width: 140px;
    top: 72%;
    left: 50%;
  }

  .list-horizontal {
    border-left: 0.05px solid black;
    border-right: 0.05px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1%;
    float: left;
    list-style-type: none;
  }

  .header-list {
    font-size: 5px;
  }

  .header-value {
    padding-top: 10px;
    font-size: 7px;
  }

  .text-list {
    padding-top: 10px;
    font-size: 4.63px;
  }

  .middle-banner-header {
    text-align: center;
    top: 50%;
    left: 30%;
    font-size: 9px;
  }

  .middle-banner-ic {
    height: 16%;
    top: 58 %;
    left: 50%;
  }

  .middle-banner-desc {
    text-align: center;
    top: 75%;
    left: 16%;
    font-size: 7px;
  }
}

@media (min-width: 768px) {
  .content {
    font-size: 25px;
    line-height: 30px;
    top: 50%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 11px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    width: 50px;
    height: auto;
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 150px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .introduction_img {
    width: 300px;
    height: auto;
    top: 17%;
    left: 5%;
  }

  .heading-introduction {
    font-size: 19px;
    top: 17%;
    left: 50%;
  }

  .introduction-description {
    font-size: 12px;
    top: 34%;
    left: 50%;
  }

  .certified {
    font-size: 11px;
    font-weight: bold;
    top: 70%;
    left: 50%;
  }

  .certified-photo {
    width: 250px;
    top: 77%;
    left: 50%;
  }

  .list-horizontal {
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1.25%;
    float: left;
    list-style-type: none;
  }

  .header-list {
    font-size: 12px;
  }

  .header-value {
    padding-top: 20px;
    font-size: 19px;
  }

  .text-list {
    padding-top: 20px;
    font-size: 11px;
  }

  .middle-banner-header {
    text-align: center;
    top: 50%;
    left: 33%;
    font-size: 19px;
  }

  .middle-banner-ic {
    scale: 50%;
    top: 53%;
    left: 50%;
  }

  .middle-banner-desc {
    text-align: center;
    top: 75%;
    left: 21%;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .content {
    font-size: 25px;
    line-height: 30px;
    top: 50%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 11px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    width: 50px;
    height: auto;
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 150px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .introduction_img {
    width: 350px;
    height: auto;
    top: 19%;
    left: 8%;
  }

  .heading-introduction {
    font-size: 20px;
    top: 19%;
    left: 49%;
  }

  .introduction-description {
    font-size: 15px;
    top: 32%;
    left: 49%;
  }

  .certified {
    font-size: 15px;
    font-weight: bold;
    top: 64%;
    left: 49%;
  }

  .certified-photo {
    width: 30%;
    top: 70%;
    left: 49%;
  }

  .list-horizontal {
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.9%;
    float: left;
    list-style-type: none;
  }

  .header-list {
    font-size: 17px;
  }

  .header-value {
    padding-top: 20px;
    font-size: 25px;
  }

  .text-list {
    padding-top: 20px;
    font-size: 15px;
  }

  .middle-banner-header {
    text-align: center;
    top: 50%;
    left: 33%;
    font-size: 25px;
  }

  .middle-banner-ic {
    scale: 50%;
    top: 57%;
    left: 50%;
  }

  .middle-banner-desc {
    text-align: center;
    top: 75%;
    left: 21%;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .content {
    font-size: 40px;
    line-height: 50px;
    top: 50%;
    left: 8%;
  }

  .view-more-btn {
    font-size: 13px;
    top: 80%;
    left: 8%;
  }

  .drop-down-btn {
    top: 7%;
    right: 5%;
  }

  .solux-logo {
    width: 297px;
    height: auto;
    top: 7%;
    left: 6%;
  }

  .introduction_img {
    width: 40%;
    height: auto;
    top: 17%;
    left: 5%;
  }

  .heading-introduction {
    font-size: 39px;
    top: 17%;
    left: 50%;
  }

  .introduction-description {
    font-size: 23px;
    line-height: 40px;
    top: 33%;
    left: 50%;
  }

  .certified {
    font-size: 24px;
    font-weight: bold;
    top: 71%;
    left: 50%;
  }

  .certified-photo {
    width: 30%;
    top: 77%;
    left: 50%;
  }

  .list-horizontal {
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 3.33%;
    float: left;
    list-style-type: none;
  }

  .header-list {
    font-size: 25px;
  }

  .header-value {
    padding-top: 30px;
    font-size: 40px;
  }

  .text-list {
    padding-top: 40px;
    font-size: 21px;
  }

  .middle-banner-header {
    text-align: center;
    top: 55%;
    left: 35%;
    font-size: 41px;
  }

  .middle-banner-ic {
    top: 65%;
    left: 50%;
  }

  .middle-banner-desc {
    text-align: center;
    top: 80%;
    left: 30%;
    font-size: 26px;
  }
}
